#esboco {
    position: relative;
    width: 400px;
    left: 50%;
    transform: translate(-50%);
}

#box4 {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#legendaprojeto {
    text-align: justify;
}