body {
    margin: 0 auto;
    background: #FFFFFF;
    font-family: Roboto;
    color: #151515;
    letter-spacing: 0.03em;
}

/* Padrões */

.espaco {
    margin: 0 auto 150px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: 300;
}
   
p {
    margin: 0;
    padding: 1em;
    font-size: 14px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.textobotao {
    padding: 8px;
    border:  2px solid #0850E0;
    background-color: #0850E0;
    border-radius: 12px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

.textobotao:hover {
    padding: 8px;
    border:  2px solid #0850E0;
    background-color: white;
    color: #0850E0;
    transition: .5s;
}

.textonaobotao1 {
    padding: 8px;
    border:  2px;
    border-radius: 12px;
    font-size: 14px;
    text-decoration: none;
    color: #151515;
    font-weight: bold;
}


.textonaobotao2 {
    padding: 8px;
    border:  2px;
    border-radius: 12px;
    font-size: 14px;
    text-decoration: none;
    color: #151515;
}

/* cabeçalho */

#header {

    width: 1065px;
    height: 105px;
}

.logo {
    width: 51px;
    height: 48.24px;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
}

#textobotao1 {
    float: right;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 2%;
}

/* Inicio */

#corpo {
    width: 1065px;
    margin: 0 auto;
}

#textosinicio {
    display: inline-block;
    width: 663px;
    margin-bottom: 0;
}

#tituloinicio {
    width: 663px;
}

#legendainicio {
    width: 663px;
    text-align: justify;
}

#imageminicio {
    position: relative;
    bottom: 44px;
    float: right;
    width: 305px;
}

/* Portfólio */

.imagem {
    object-fit: contain;
    width: 100%; /* or any custom size */
    height: 100%; 
    border-radius: 11px;
}

.box {
    display: inline-block;
    width: 275px;
    height: 256px;
    background-color: grey;
    border-radius: 12px;
    margin-right: 110px;
    border: solid 2px #cccccc;
    margin-bottom: 80px;
}

.box:hover {
    border: solid 2px #0850E0;
    transition: 600ms;
}

#box3 {
    margin: 0;
    float: right;
}

#imagemportfolio {
    margin-top: 100px;
}

#textobotao2 {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}

/* Habilidades */

#legendahabilidades {
    text-align: center;
}

#habilidades1 {
    width: 761px;
    margin: 171px auto 0;
    position: relative;
}

.boxhabilidades {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.boxhabilidades > ul {
    display: inline-block;
    font-weight: 14px;
}

#programacao {
    float: right;
}

.boximg {
    display: inline-block;
    width: 96px;
}

.imagemhabilidades {
    width: 96px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    
}

/* Rodapé */

#rodape {
    width: 100%;
    margin: 0 auto;
    height: 103px;
    background: linear-gradient(90.27deg, #042361 -4.35%, #0850E0 50%, #042361 104.35%);
}

#handtalk {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
    
/* Padrões Mobile */

body {
    width: 100%;
}

.espaco {
    margin: 0 auto 75px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
    
h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
    
h3 {
    font-size: 16px;
    font-weight: 300;
    width: 300px;
    margin: 0 auto;
}
    
p {
    font-size: 14px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

/* Cabeçalho Mobile */

#header {
      width: 100%; 
  }

.logo {
width: 51px;
height: 48.24px;
position: relative;
display: inline-block;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#textobotao1 {
    display: none;
}

/* Estrutura de Body Mobile */

#corpo {
    width: 100%;
    margin: 0 auto;
}

/* Inicio Mobile */

#textosinicio {
    display: block;
    width: 80%;
    margin: 0 auto;
}

#tituloinicio {
    width: 300px;
}

#legendainicio {
    width: 100%;
    text-align: justify;
}

#imageminicio {
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
    bottom: none;
    float: left;
    margin: 0 auto;
}

/* Portfolio Mobile */

.box {
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
    width: 275px;
    height: 256px;
    background-color: grey;
    border-radius: 12px;
    margin-right: 0;
    border: solid 2px #cccccc;
    margin-bottom: 25px;
}

.box:hover {
    border: solid 2px #0850E0;
    transition: 600ms;
}

#box3 {
    margin: 0 0 25px;
    float: none;
}

#imagemportfolio {
    margin-top: 25px;
}

#textobotao2 {
    margin-top: 50px;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}

/* Habilidades Mobile */

.boxhabilidades {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#programacao {
    float: none;
}

#habilidades1 {
    width: 100%;
    margin: 100px auto 0;
    position: relative;
}

/* Rodapé Mobile*/

#rodape {
    background: #0850E0;
}

#handtalk {
    width: 100px;
}

}